/* Bootstrap icon */ 
html,
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

section {
  min-height: 100vh;
}



/*App*/
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  nav {
    padding: 30px;
    width: 100vw !important;
  }
  
  nav a {
    font-weight: bold;
    color: #000000;
  }
  
  nav a.router-link-exact-active {
    color: #000000;
  }

  /* .navbar {
    position: sticky!important;
    top: 0;
    width: 100%;
    z-index: 1000;
  } */

/* Universal selector*/

/* Custom variables*/


::-webkit-scrollbar{
    display: none;
}

/* Select all images*/
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

/* logo*/
img[alt='logo']{
    width: 5rem;
}

/* wrapper */
:is(.wrapper){
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}



/* home */

.home-section {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  overflow: hidden;
}

.home-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff; /* Adjust text color */
}

.text-container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
  border-radius: 8px;
}

.static-title {
  font-size: 2rem; /* Adjust font size as needed */
}

.dynamic-title {
  font-size: 3rem; /* Adjust font size as needed */
  margin-top: 20px;
}

.profile-image {
  width: 200px; /* Adjust image size */
  border-radius: 50%;
  margin-top: 20px;
}